<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>Acadia VEM</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="manifest" href="manifest.json">
    <!-- ios Support -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <meta name="apple-mobile-web-app-status-bar" content="#7E8959">
    <meta name="theme-color" content="#7E8959">
    <link rel="apple-touch-startup-image" href="icons/pwa_icons/640x1136.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="icons/pwa_icons/750x1294.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="icons/pwa_icons/1242x2148.png" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="icons/pwa_icons/1125x2436.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="icons/pwa_icons/1536x2048.png" media="(min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="icons/pwa_icons/1668x2224.png" media="(min-device-width: 834px) and (max-device-width: 834px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="icons/pwa_icons/2048x2732.png" media="(min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
</head>
<body>
    <div id="app">
        <div v-if="page=='main'">
            <div class="appBar"> <!-- App bar for login page -->
                <div class="title">
                    <img class="bison" src="icons/bisonGreen.svg">
                    <div class="titleContainer">
                        <h1 class="titleText">Acadia VEM</h1>
                        <p class="date">{{currentDate}}</p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="contentWrapper">
                    <div class="lineWrapper" @click="nameClicked" :class="{lineFocus:name_selected, errorBorder:nameError}">
                        <img class="lineIcon" src="icons/name_button.svg">
                        <input v-model="currentName" class="lineInput">
                        <div class="line" v-else>{{currentName}}</div>
                    </div>
                    <div v-if="nameError">
                        <ul class="ul2">
                            <li v-if="nameError" class="errorMessages"><img class="errorImg" src="icons/alert.svg">Name required.</li>
                        </ul>
                    </div>

                    <div class="lineWrapper" @click="trailClicked(), outsideName" :class="{lineFocus:trail_selected}">
                        <img class="lineIcon" src="icons/trail_button.svg">
                        <div class="line">{{currentTrail}}</div>
                    </div>
                </div>
            </div>

            <div class="wrapper" @click="outsideName">
                <div class="contentWrapper">
                    <!-- on foot -->
                    <div class="lineWrapper" @click="footClicked()">
                        <img class="lineIcon" src="icons/walking.svg">
                        <div class="line">On Foot</div>
                        <img class="arrow" src="icons/arrow.svg" :style="`transform: rotate(${footRotation}deg);`">
                    </div>
                    
                    <div style="display: block;">
                        <div v-if="foot_selected" class="countContainer left" @click="footUp+=1">
                            <h1>Number of Encounters</h1>
                            <h2>{{footUp}}</h2>
                            <img class="countBtn" src="icons/upWalk.svg">
                        </div>
                        <div v-if="foot_selected" class="countContainer right" @click="footDown+=1">
                            <h1>Number of Encounters</h1>
                            <h2>{{footDown}}</h2>
                            <img class="countBtn" src="icons/downWalk.svg">
                        </div>
                    </div>

                    <!-- Bike -->
                    <div class="lineWrapper" @click="bikeClicked()">
                        <img class="lineIcon" src="icons/biking.svg">
                        <div class="line">Bike</div>
                        <img class="arrow" src="icons/arrow.svg" :style="`transform: rotate(${bikeRotation}deg);`">
                    </div>

                    <div style="display: block;">
                        <div v-if="bike_selected" class="countContainer left" @click="bikeUp+=1">
                            <h1>Number of Encounters</h1>
                            <h2>{{bikeUp}}</h2>
                            <img class="countBtn" src="icons/upBike.svg">
                        </div>
                        <div v-if="bike_selected" class="countContainer right" @click="bikeDown+=1">
                            <h1>Number of Encounters</h1>
                            <h2>{{bikeDown}}</h2>
                            <img class="countBtn" src="icons/downBike.svg">
                        </div>
                    </div>

                    <!-- E-Bike -->
                    <div class="lineWrapper" @click="eClicked()">
                        <img class="lineIcon" src="icons/ebike.svg">
                        <div class="line">E-bike</div>
                        <img class="arrow" src="icons/arrow.svg" :style="`transform: rotate(${eRotation}deg);`">
                    </div>

                    <div style="display: block;">
                        <div v-if="e_selected" class="countContainer left" @click="eUp+=1">
                            <h1>Number of Encounters</h1>
                            <h2>{{eUp}}</h2>
                            <img class="countBtn" src="icons/upEbike.svg">
                        </div>
                        <div v-if="e_selected" class="countContainer right" @click="eDown+=1">
                            <h1>Number of Encounters</h1>
                            <h2>{{eDown}}</h2>
                            <img class="countBtn" src="icons/downEbike.svg">
                        </div>
                    </div>

                    <!-- Horse -->
                    <div class="lineWrapper" @click="horseClicked()">
                        <img class="lineIcon" src="icons/horse.svg">
                        <div class="line">Horse</div>
                        <img class="arrow" src="icons/arrow.svg" :style="`transform: rotate(${horseRotation}deg);`">
                    </div>

                    <div style="display: block;">
                        <div v-if="horse_selected" class="countContainer left" @click="horseUp+=1">
                            <h1>Number of Encounters</h1>
                            <h2>{{horseUp}}</h2>
                            <img class="countBtn" src="icons/upHorse.svg">
                        </div>
                        <div v-if="horse_selected" class="countContainer right" @click="horseDown+=1">
                            <h1>Number of Encounters</h1>
                            <h2>{{horseDown}}</h2>
                            <img class="countBtn" src="icons/downHorse.svg">
                        </div>
                    </div>

                    <!-- Dog -->
                    <div class="lineWrapper" @click="dogClicked()">
                        <img class="lineIcon" src="icons/dog.svg">
                        <div class="line">Dog Off Leash</div>
                        <img class="arrow" src="icons/arrow.svg" :style="`transform: rotate(${dogRotation}deg);`">
                    </div>

                    <div style="display: block;">
                        <div v-if="dog_selected" class="countContainer left" @click="dogUp+=1">
                            <h1>Number of Encounters</h1>
                            <h2>{{dogUp}}</h2>
                            <img class="countBtn" src="icons/upDog.svg">
                        </div>
                        <div v-if="dog_selected" class="countContainer right" @click="dogDown+=1">
                            <h1>Number of Encounters</h1>
                            <h2>{{dogDown}}</h2>
                            <img class="countBtn" src="icons/downDog.svg">
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrapper2" @click="outsideName">
                <div class="contentWrapper">
                    <div class="lineWrapper" id="weather" ref="weather" @click="weatherClicked">
                        <img class="lineIcon" src="icons/weather_button.svg">
                        <div class="line">{{currentWeather}}</div>
                    </div>

                    <div class="lineWrapper" @click="notes_selected=true">
                        <img class="lineIcon" src="icons/notes_button.svg">
                        <div class="line">{{currentNotes}}</div>
                    </div>

                    <div class="lineWrapper" @click="visitation_selected=true">
                        <img class="lineIcon" src="icons/visitation_button.svg">
                        <div class="line">{{currentVisitation}}</div>
                    </div>

                    <div class="lineWrapper" @click="status_selected=true">
                        <img class="lineIcon" src="icons/trail_status_button.svg">
                        <div class="line">{{currentStatus}}</div>
                    </div>

                    <div class="lineWrapper" @click="condition_selected=true">
                        <img class="lineIcon" src="icons/trail_conditions_button.svg">
                        <div class="line">{{currentCondition}}</div>
                    </div>

                    <input class="hide_file" type="file" ref="file" name="image" accept="image/*" capture="environment" style="display:none;border:none;">
                    <button id="addPicture" @click="$refs.file.click()">ADD PICTURE<img id="camera" src="icons/camera.svg"></button>
                    <p id="centerP">Please insert the taken photo(s) into the email.</p>

                    <div v-if="nameError || dateError">
                        <ul>
                            <li v-if="nameError" class="errorMessages"><img class="errorImg" src="icons/alert.svg">Name required.</li>
                            <li v-if="dateError" class="errorMessages">Date required.</li>
                        </ul>
                    </div>

                    <button id="send" @click="sendClicked">SEND</button>
                </div>
            </div>

            <div class="overlay" v-if="notes_selected">
                <div class="optionWrap2 notesWrap">
                    <textarea type="text" class="notes" maxlength="300" v-model="currentNotes">{{currentNotes}}</textarea>
                    <button class="notesBtn clear" @click="currentNotes=''">Clear</button>
                    <button class="notesBtn done" @click="doneClicked">Done</button>
                </div>
            </div>

            <div class="overlay" v-if="visitation_selected">
                <div class="optionWrap2">
                    <div v-for="visit in visitations" @click="currentVisitation=visit; visitation_selected=false">{{visit}}</div>
                </div>
            </div>

            <div class="overlay" v-if="status_selected">
                <div class="optionWrap2">
                    <div v-for="status in statuses" @click="currentStatus=status; status_selected=false">{{status}}</div>
                </div>
            </div>

            <div class="overlay" v-if="condition_selected">
                <div class="optionWrap2 optionWrap3">
                    <div v-for="condition in conditions" @click="currentCondition=condition; condition_selected=false">{{condition}}</div>
                </div>
            </div>
        </div>

        <div class="wrapper" v-if="page=='trailSelect'">
            <div class="appBar"> <!-- App bar for trail select page -->
                <div class="title selectTitle"><img class="x" src="icons/x.svg" @click="page='main'">Select Trail or Segment</div>
            </div>
            <div class="optionWrap" v-model="currentTrail">
                <div class="pick" v-for="trail in trails" @click="currentTrail=trail; page='main'">{{trail}}</div>
            </div>
            <button class="cancel" @click="page='main'">Cancel</button>
        </div>

        <div class="wrapper" v-if="page=='weatherSelect'">
            <div class="appBar"> <!-- App bar for weather select page -->
                <div class="title selectTitle"><img class="x" src="icons/x.svg" @click="weatherBack('weather')">Select Weather Condition</div>
            </div>
            <div class="optionWrap" v-model="currentWeather">
                <div v-for="weather in weatherConditions" @click="currentWeather=weather; weatherBack('weather')">{{weather}}</div>
            </div>
            <button class="cancel" @click="weatherBack('weather')">Cancel</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="app.js"></script>
</body>
</html>
