<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>Acadia Counting</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- Here we need to place the product link: -->
</head>
<body>
    <div id="app">
        <div class="wrapper">
            <div class="contentWrapper">
                <div id="appBar"> <!-- App bar for login page -->
                    <v-app-bar dense>
                        <v-toolbar-title id="title"><img class="bison" src="icons/up biking.svg">Acadia VEM</v-toolbar-title>
                        <v-spacer></v-spacer>
                    </v-app-bar>
                </div>

                <div class="lineWrapper">
                    <img class="lineIcon" src="icons/name_button.svg">
                    <input v-if="name_selected" class="lineInput">
                    <div class="line" v-else>{{currentName}}</div>
                </div>

                <div class="lineWrapper">
                    <img class="lineIcon" src="icons/date_button.svg">
                    <input v-if="date_selected" class="lineInput">
                    <div class="line" v-else>{{currentDate}}</div>
                </div>

                <div class="lineWrapper">
                    <img class="lineIcon" src="icons/trail_button.svg">
                    <input v-if="date_selected" class="lineInput">
                    <div class="line" v-else>{{currentTrail}}</div>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="contentWrapper">
                <!-- Walking -->
                <div class="lineWrapper" @click="walkingClicked()">
                    <img class="lineIcon" src="icons/directions_walk-24px 1.svg">
                    <div class="line">Walking</div>
                    <img class="arrow" src="icons/arrow.png" :style="`transform: rotate(${walkRotation}deg);`">
                </div>
                
                <div style="display: block;">
                    <div v-if="walk_selected" class="countContainer left">
                        <h1>Number of Encounters</h1>
                        <h2>{{walkUp}}</h2>
                        <img class="countBtn" src="icons/up walking.svg">
                    </div>
                    <div v-if="walk_selected" class="countContainer right">
                        <h1>Number of Encounters</h1>
                        <h2>{{walkDown}}</h2>
                        <img class="countBtn" src="icons/down walking.svg">
                    </div>
                </div>

                <!-- Running -->
                <div class="lineWrapper" @click="runningClicked()">
                    <img class="lineIcon" src="icons/directions_run-24px 1.svg">
                    <div class="line">Running</div>
                    <img class="arrow" src="icons/arrow.png" :style="`transform: rotate(${walkRotation}deg);`">
                </div>

                <div style="display: block;">
                    <div v-if="run_selected" class="countContainer left">
                        <h1>Number of Encounters</h1>
                        <h2>{{runUp}}</h2>
                        <img class="countBtn" src="icons/up running.svg">
                    </div>
                    <div v-if="run_selected" class="countContainer right">
                        <h1>Number of Encounters</h1>
                        <h2>{{runDown}}</h2>
                        <img class="countBtn" src="icons/down running.svg">
                    </div>
                </div>

                <!-- Bike -->
                <div class="lineWrapper" @click="bikeClicked()">
                    <img class="lineIcon" src="icons/directions_bike-24px 1.svg">
                    <div class="line">Bike</div>
                    <img class="arrow" src="icons/arrow.png" :style="`transform: rotate(${walkRotation}deg);`">
                </div>

                <div style="display: block;">
                    <div v-if="bike_selected" class="countContainer left">
                        <h1>Number of Encounters</h1>
                        <h2>{{bikeUp}}</h2>
                        <img class="countBtn" src="icons/up biking.svg">
                    </div>
                    <div v-if="bike_selected" class="countContainer right">
                        <h1>Number of Encounters</h1>
                        <h2>{{bikeDown}}</h2>
                        <img class="countBtn" src="icons/down biking.svg">
                    </div>
                </div>

                <!-- E-Bike -->
                <div class="lineWrapper" @click="eClicked()">
                    <img class="lineIcon" src="icons/ebike.svg">
                    <div class="line">E-bike</div>
                    <img class="arrow" src="icons/arrow.png" :style="`transform: rotate(${walkRotation}deg);`">
                </div>

                <div style="display: block;">
                    <div v-if="e_selected" class="countContainer left">
                        <h1>Number of Encounters</h1>
                        <h2>{{eUp}}</h2>
                        <img class="countBtn" src="icons/up ebiking.svg">
                    </div>
                    <div v-if="e_selected" class="countContainer right">
                        <h1>Number of Encounters</h1>
                        <h2>{{eDown}}</h2>
                        <img class="countBtn" src="icons/down ebiking-1.svg">
                    </div>
                </div>

                <!-- Horse -->
                <div class="lineWrapper" @click="horseClicked()">
                    <img class="lineIcon" src="icons/horse.svg">
                    <div class="line">Horse</div>
                    <img class="arrow" src="icons/arrow.png" :style="`transform: rotate(${walkRotation}deg);`">
                </div>

                <div style="display: block;">
                    <div v-if="horse_selected" class="countContainer left">
                        <h1>Number of Encounters</h1>
                        <h2>{{horseUp}}</h2>
                        <img class="countBtn" src="icons/up horseback riding.svg">
                    </div>
                    <div v-if="horse_selected" class="countContainer right">
                        <h1>Number of Encounters</h1>
                        <h2>{{horseDown}}</h2>
                        <img class="countBtn" src="icons/down horseback riding.svg">
                    </div>
                </div>

                <!-- Dog -->
                <div class="lineWrapper" @click="dogClicked()">
                    <img class="lineIcon" src="icons/dog off leash.svg">
                    <div class="line">Dog Off Leash</div>
                    <img class="arrow" src="icons/arrow.png" :style="`transform: rotate(${walkRotation}deg);`">
                </div>

                <div style="display: block;">
                    <div v-if="dog_selected" class="countContainer left">
                        <h1>Number of Encounters</h1>
                        <h2>{{dogUp}}</h2>
                        <img class="countBtn" src="icons/up dog off leash.svg">
                    </div>
                    <div v-if="dog_selected" class="countContainer right">
                        <h1>Number of Encounters</h1>
                        <h2>{{dogDown}}</h2>
                        <img class="countBtn" src="icons/down dog off leash.svg">
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper2">
            <div class="contentWrapper">
                <div class="lineWrapper">
                    <img class="lineIcon" src="icons/weather_button.svg">
                    <input v-if="weather_selected" class="lineInput">
                    <div class="line" v-else>{{currentWeather}}</div>
                </div>

                <div class="lineWrapper">
                    <img class="lineIcon" src="icons/notes_button.svg">
                    <input v-if="notes_selected" class="lineInput">
                    <div class="line" v-else>{{currentNotes}}</div>
                </div>

                <div class="lineWrapper">
                    <img class="lineIcon" src="icons/visitation_button.svg">
                    <input v-if="visitation_selected" class="lineInput">
                    <div class="line" v-else>{{currentVisitation}}</div>
                </div>

                <div class="lineWrapper">
                    <img class="lineIcon" src="icons/trail_status_button.svg">
                    <input v-if="status_selected" class="lineInput">
                    <div class="line" v-else>{{currentStatus}}</div>
                </div>

                <div class="lineWrapper">
                    <img class="lineIcon" src="icons/trail_conditions_button.svg">
                    <input v-if="condition_selected" class="lineInput">
                    <div class="line" v-else>{{currentCondition}}</div>
                </div>

                <button id="addPicture">ADD PICTURE<img id="camera" src="icons/camera.svg"></button>
                <button id="send">SEND</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="app.js"></script>
</body>
</html>
